[submodule "thirdParty/segment-anything-2"]
	path = thirdParty/segment-anything-2
	url = https://github.com/gml78905/sam2.git
[submodule "thirdParty/perception_models"]
	path = thirdParty/perception_models
	url = https://github.com/facebookresearch/perception_models
[submodule "thirdParty/FastSAM"]
	path = thirdParty/FastSAM
	url = https://github.com/CASIA-IVA-Lab/FastSAM.git
